<!DOCTYPE html>
<!-- using example from: https://stackoverflow.com/questions/27525686/create-a-starter-project-for-material-angular -->
<html lang="en" ng-app="BMEGApp">
	<head>
		<link rel="icon" href="images/bmeg_logo_2_heatmaps_16px.png" type="image/x-icon">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
        <title>Welcome To The BMEG Portal</title>
		<meta charset="utf-8" name="viewport" content="initial-scale=1" />

		<link rel="stylesheet" href="/static/bower_components/angular-material/angular-material.css">
		<link type="text/css" rel="stylesheet" href="/static/index.css" />
		<!-- <link type="text/css" rel="stylesheet" href="example.css" /> -->

		<link rel="stylesheet" href="/static/jquery.contextMenu.css" type="text/css" />

		<noscript>
			<div align="center">
				<p style="color:black;background-color:red;font-size:18pt">
					This website requires JavaScript.  Please turn on JavaScript and then <a href="">try it again</a>.
				</p>
			</div>
		</noscript>

		<link rel="stylesheet" href="/static/index.css" type="text/css" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.js"></script>
		<script src="/static/bower_components/angular/angular.js"></script>
		<script src="/static/bower_components/angular-aria/angular-aria.js"></script>
		<script src="/static/bower_components/angular-animate/angular-animate.js"></script>
		<script src="/static/bower_components/angular-material/angular-material.js"></script>
		<script src="/static/bower_components/angular-messages/angular-messages.js"></script>
		<script type="text/javascript" src="/static/index.js"></script>
        
        <style>
md-sidenav, md-sidenav.md-locked-open, md-sidenav.md-closed.md-locked-open-add-active {
 min-width: 150px !important;
 width: 10vw !important;
 max-width: 150px !important;
}
        </style>
        
	</head>
	<body ng-controller="SideNavCtrl as menu" layout="column">
        <md-toolbar layout="row" class="md-whiteframe-z2">
            <button ng-click="toggleSidenav('left')" hide-gt-sm class="menuBtn">
                <span class="visually-hidden"></span>
            </button>
        <h1 class="md-toolbar-tools" layout-align-gt-sm="left"><img src="/images/BMEG_Logo.png" height="50px"/></h1>
        </md-toolbar>
        <div layout="row" flex>
            <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" >
                <div ng-repeat="section in menu.sections">
                    <md-button class="menu-item menu-title md-menu-item" ng-click="menu.toggleSelectSection(section)" md-highlight="menu.isSectionSelected(section)" md-ink-ripple="#bbb">
                        {{section.title}}
                    </md-button>
                </div>
            </md-sidenav>
            <!-- main content here -->
            <div layout="column">
                <md-content ng-show="menu.isSectionNameSelected('AboutBMEG')" class='md-padding'>
                    <p align='center' >
                        <img src="images/BMEG_Logo.png" alt="bmeg_logo" width='400px'>
                    </p>
                    <p>
The BioMedical Evidence Graph
                    </p>
                </md-content>

                <md-content ng-show="menu.isSectionNameSelected('InTheNews')" class='md-padding'>
                    <h3>In The News</h3>
                    <ul>
                        <li><a target='_bmegOut' href='http://news.ucsc.edu/2013/06/cancer-big-data.html'>http://news.ucsc.edu/2013/06/cancer-big-data.html</a></li>
                        <li><a target='_bmegOut' href='https://www.genomeweb.com/informatics/ucsc-designing-social-network-type-model-analyzing-cancer-data'>https://www.genomeweb.com/informatics/ucsc-designing-social-network-type-model-analyzing-cancer-data</a></li>
                        <li><a target='_bmegOut' href='http://pharmaceuticalintelligence.com/2012/10/29/cancer-genomics-leading-the-way-by-cancer-genomics-program-at-uc-santa-cruz/'>http://pharmaceuticalintelligence.com/2012/10/29/cancer-genomics-leading-the-way-by-cancer-genomics-program-at-uc-santa-cruz/</a></li>
                        <li><a target='_bmegOut' href='http://phys.org/wire-news/132928262/major-grant-funds-ucsc-researchers-using-big-data-to-predict-can.html'>http://phys.org/wire-news/132928262/major-grant-funds-ucsc-researchers-using-big-data-to-predict-can.html</a></li>
                        <li><a target='_bmegOut' href='http://googleresearch.blogspot.fr/2014/07/facilitating-genomics-research-with.html'>http://googleresearch.blogspot.fr/2014/07/facilitating-genomics-research-with.html</a></li>
                    </ul>
                </md-content>

                <md-content ng-show="menu.isSectionNameSelected('DREAM')" class='md-padding'>
                    <p align='center' >
                        <img src="images/BMEG_Logo.png" alt="dream_logo">
                    </p>
                    <dl>
                        <dt>
                            Somantic Mutation Challenge: <a target='_bmegOut' href='https://www.synapse.org/#!Synapse:syn312572'>link</a>
                        </dt>
                        <dd>
The goal of this somatic mutation calling (SMC) Challenge is to identify the most accurate mutation detection algorithms, and establish the state-of-the-art. The algorithms in this Challenge must use as input WGS data from tumour and normal samples and output mutation calls associated with cancer.
                        </dd>
                        <dt>
								SMC DREAM HET: <a target='_bmegOut' href='https://www.synapse.org/#!Synapse:syn2813581'>link</a>
                        </dt>
                        <dd>
								Tumors are composed of many different cell-types, ranging from the normal tissue micro-environment, infiltrating immune cells and tumour cells. And this group of tumour cells is itself intrinsically highly heterogeneous, driven by the rapid mutation rate of cancer cells to become a mixture of different sub-populations. Critically, these sub-populations have distinct clinical outcomes: some are more resistant to treatment, some are more likely to metastasize. These different types of cells, called subclones, have different sets of mutations in their DNA. Because some subclones evolve from others, many subclones share mutations. While it is increasingly easy to determine what mutations are present in the tumor, it remains very difficult to determine which subclones have which mutations. The task of assigning mutations to subclones is called subclonal reconstruction.
                        </dd>
                    </dl>
                </md-content>

                <md-content ng-show="menu.isSectionNameSelected('TCGALive')" class='md-padding'>
                    <p align='center' >
                        <img src="images/tcga_logo.png" alt="tcga_logo">
                    </p>
                    <h3>TCGA Live</h3>
                    <p><a target='_bmegOut' href='https://www.synapse.org/#!Synapse:syn2812961'>link</a></p>
                </md-content>

                <md-content ng-show="menu.isSectionNameSelected('PCAWG')" class='md-padding'>
                    <p align='center' >
                    <img src="images/logo_icgc.png" alt="icgc_logo"/>
                    <br/>
                    <img src="images/tcga_logo.png" alt="tcga_logo"/>
                    </p>
                    <h3>ICGC/TCGA PCAWG</h3>
                    <p><a target='_bmegOut' href='http://pancancer.info/'>link</a></p>
                </md-content>
            </div>			
		</div>
	</body>
</html>
